.app-container {
  width: 100dvw;
  height: 100dvh;

  @supports not (height: 100dvh) {
    height: 100vh;

    // mobile
    height: -webkit-fill-available;
    min-height: -webkit-fill-available;
  }

  @include flex-center;
  background: $secondary-color;
}
